{% extends "base.html" %}

{% block content %}
<h1>Лента записей</h1>

{% for post in posts %}
<div class="post">
    <ul>
        <li><strong>Место:</strong> {{ post.location }}</li>
        <li><strong>Дата:</strong> {{ post.date }}</li>
        <li><strong>Категория:</strong>
            <a href="{% url 'blog:category_posts' post.category %}">
                {{ post.category }}
            </a>
        </li>
    </ul>

    <p>{{ post.text|truncatewords:20 }}</p>

    <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
</div>
<hr>
{% endfor %}

{% endblock %}
