{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блогикум</title>

    <!-- Подключаем стили -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <div class="logo">Блогикум</div>
    <nav>
        <a href="{% url 'blog:index' %}">Лента записей</a>
        <a href="{% url 'pages:about' %}">О проекте</a>
        <a href="{% url 'pages:rules' %}">Наши правила</a>
    </nav>
</header>

<div class="wrapper">
    {% block content %}
    {% endblock %}

    <footer>
        © 2026 Блогикум
    </footer>
</div>

</body>
</html>
